@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {


    scroll-behavior: smooth;

}








:root {
    --bg1-color: #7465C3;
    --bg2-color: #AC00EB;
    --primary-color: #FF6347;
    --secondary-color: #FFDD00;
    --third-color: #32CD32;
    --fourth-color: #00CED1;
    --text-color-dark-green: #00494A;
    --text-color-light: #ffffff;
    --bg1-new-color: #F9F9F9;
    --Gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--fourth-color), var(--third-color));
    --text-color: rgb(20, 20, 20);
    --box-shadow: rgba(0, 0, 0, 0.3);
    --border: rgb(0, 0, 0);
    --nth-child: rgba(228, 214, 125, 0.35);
    --button-text: rgb(255, 255, 255);
}


.darkmode {

    --bg1-color: #1B0036;
    --bg2-color: #2C004F;
    --primary-color: #9B5DE5;
    --secondary-color: #F15BB5;
    --third-color: #6A0572;
    --fourth-color: #00F5D4;
    --text-color-dark-green: #C5C6C7;
    --Gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--fourth-color), var(--third-color));
    --bg1-new-color: #0D0027;
    --text-color: #FFFFFF;
    --box-shadow: rgba(255, 0, 255, 0.3);
    --border: #4B0082;
    --nth-child: #36254F;
    --button-text: rgb(255, 255, 255);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1.5s cubic-bezier(1, 0, 0, 1);
    color: var(--text-color);
    
    -webkit-user-drag: none;
}


#mode1,
#mode2 {
    -webkit-user-drag: none;
}

#mode1:hover,
#mode2:hover, #mode3:hover{
    cursor: cell;
}

#mode1:active,
#mode2:active, #mode3:active  {
    cursor: crosshair;
}



@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {

    min-height: 100vh;
    background: var(--Gradient);
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

    flex-direction: column;

    opacity: 0;
    transform: translateX(-10%);
    animation: slideIn 2s ease-in forwards;
    overflow: unset;
 

}

nav div img {
    max-height: 40px;
    margin-right: 20px;
}


nav {
    position: sticky;
    top: 0;
    z-index: 999;
    max-height: 50px;
    width: 80%;
    background-color: var(--bg1-new-color);
    box-shadow: 5px 5px 5px var(--box-shadow);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

nav div {
    flex: 1;

}

nav .nav-btn {

    display: flex;
    justify-content: end;
}

.links {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.links ul {

    display: flex;
    list-style: none;

}

.links ul li {
    margin-right: 20px;
}


.links ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: var(--primary-color);
}

.links ul li a:active {
    color: var(--fourth-color);

}




button {
    padding: clamp(1px, 2vw, 10px) clamp(2px, 4vw, 15px);
    font-size: clamp(0.4rem, 1vw, 1rem);
    background-color: var(--primary-color);
    color: var(--bg1-new-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    transition: all 0.3s ease;
    outline: none;

    color: var(--button-text);


}

button:hover {

    background-color: var(--fourth-color);


}

button:active {

    background-color: var(--third-color);


}

h1 {
    font-size: 4vw;
}



.main-container {

    margin-top: 10px;
    height: 85vh;
    width: 80%;
    max-width: 80%;
    background-color: var(--bg1-new-color);
    box-shadow: 5px 5px 5px var(--box-shadow);
    border-radius: 5px;
    padding: 20%;
    padding-left: 5%;
    padding-right: 5%;



    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);

}



.second-container {
    height: fit-content;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;

}

.second-container .below {

    display: flex;

    padding-top: 5%;
}

.below .second-left,
.second-right {
    flex: 1;
}

.second-left .img-container {
    padding: 2%;
    display: flex;
    max-width: auto;
    height: auto;
    max-width: 100%;
    width: 70%;
}

.second-left .img-container img {

    max-width: 100%;
    width: 50%;
}

.second-right p {
    padding-bottom: 3%;
    line-height: 1.5;
}

.project .below {
    flex-direction: column;
    align-items: center;
}


.project .below .card {
    max-width: 100%;
    width: 70%;

    display: flex;
    gap: 5%;
    margin-bottom: 5%;
    justify-content: center;



}




.project .below .card img {
    max-width: 100%;
    width: 50%;

    background-color: var(--bg1-new-color);
    box-shadow: 5px 5px 5px var(--box-shadow);
    border-radius: 5px;
    padding: 10px;
}




.favorites .below .card {
    max-width: 100%;
    width: 50%;

    background-color: var(--bg1-new-color);
    box-shadow: 5px 5px 5px var(--box-shadow);
    border-radius: 5px;
    padding: 10px;


}

.favorites .below {
    margin: 0;


}

.favorites .below .window {
    margin: 1%;


}

.favorites .below .card img {
    margin-top: 5%;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;

}

.favorites .below .window {
    text-align: center;
    padding-top: 2%;
}


.mt {
    margin-top: 6vh;
}

.mb {
    margin-bottom: 6vh;
}

.container-left,
.container-right {
    max-width: inherit;
    width: 70%;
    flex: 1;

}

.container-left h1 {
    font-size: 3.5vw;
    line-height: 1.1;
    font-weight: 800;
    color: var(--text-color-dark-green);

    text-shadow: var(--text-color-dark-green) 2px 0px 2px;
}

.container-left h1 span {
    text-shadow: none;
    background: var(--Gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-left p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.3;
}

.main-btn {
    margin-top: 10px;
    width: 50%;
}

.container-right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}



.container-right img {
    height: auto;
    max-width: inherit;
    width: inherit;
    display: block;

}



h2 {
    font-size: 2vw;
    color: var(--text-color-dark-green);
}

h3 {
    color: var(--primary-color);
    text-shadow: 1px 1px var(--bg1-color);
}

.below h3 {
    margin-bottom: 5%;
}

.pages .below {
    max-width: 100%;
    width: 100%;
    line-height: 1.5;
}

.pages .below {
    max-width: 100%;
    width: 100%;
}

input {
    padding: 2%;

}

table {
    max-width: 100%;
    width: 100%;
    border: 1 solid var(--border);
    padding: 2%;
}

tr,
td {
    padding: 2%;
}

tr:nth-child(even) {
    background-color: var(--nth-child);
}



.vids .below div {
    padding: 5%;
}


iframe {

    border-radius: 2%;
    box-shadow: 5px 5px 5px var(--box-shadow);
}



.conc div {
    display: flex;
    gap: 5%;
    justify-content: start;
    align-items: center;
}



.tab {
    padding-left: 5%;
}


.forVid,
.music,
.video {
    padding-top: 0 !important;
    margin-top: 0 !important;
}



@media (min-width: 1200px) {

    .links ul li {
        margin-right: 40px;
    }


}

@media (max-width: 900px) {

    .links ul li a {

        font-size: 12px;

    }

    .links ul li {
        margin-right: 10px;
    }


}

@media(max-width: 800px) {

    h2 {
        font-size: larger;
    }

    nav {
        position: relative;
    }

    .favorites .below {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
    }

    .favorites .below .card {
        width: 100%;
        margin: 5%;


    }



    .project .below .card {
        flex-direction: column;
        margin-top: 5%;

    }


    .project .below .card div {
        flex-direction: column;
        margin-top: 5%;

    }

    .project .below .card img {
        max-width: 100%;
        width: 100%;
    }

    .project .below .cent {
        flex-direction: column-reverse;

    }



    .below {
        flex-direction: column-reverse;
    }

    button {
        padding: clamp(1px, 2vw, 10px) clamp(2px, 4vw, 15px);
        font-size: 12px;
    }


    .main-container {
        flex-direction: column;
        max-height: fit-content;
        height: fit-content;
        padding: 5%;
    }

    .container-left,
    .container-right {
        display: block;
        padding: 0%;
        text-align: center;

    }

    .container-left h1 {
        font-size: 50px;

    }



    .container-left p {

        font-size: 16px;

    }

    .main-btn {
        margin-top: 10px;
        width: 100%;
    }

    .container-right {
        max-width: 100%;
        margin: 0;
        margin-top: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }



    .container-right img {
        height: auto;
        width: 100%;

    }




}


@media(max-width: 750px) {
    .links {
        display: none;
    }
}

@media(max-width: 400px) {

    .container-left h1 {
        font-size: 30px;
        text-overflow: ellipsis;

    }
}

@media(max-width: 300px) {

    nav .nav-btn {
        display: none;
    }

    nav div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    nav div img {

        margin: 0px;
    }


}